[workspace]
members = ["programs/*"]
resolver = "2"

[patch.crates-io]
# Берем из реестра (crates-io), а не из гита. Это надежно на 100%.
constant_time_eq = { package = "constant_time_eq", version = "0.3.0" }
