[workspace]
members = [
    "programs/orbital_pulse"
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
panic = "abort"

[profile.release.build-override]
opt-level = 3

[patch.crates-io]
# Если возникнут проблемы с версиями зависимостей Solana, 
# здесь можно будет зафиксировать конкретные ревизии.
