name: Anchor Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Hard Clean
        run: |
          rm -f Cargo.lock
          find . -name "Cargo.lock" -type f -delete

      - name: Setup environment
        run: |
          sudo apt-get update && sudo apt-get install -y pkg-config build-essential libudev-dev libssl-dev
          
          # Установка Rust
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          source $HOME/.cargo/env
          rustup default 1.75.0  # Ставим версию, которая понимает Lock v4, но не слишком новую
          
          # Установка Solana
          sh -c "$(curl -sSfL https://release.solana.com/v1.17.0/install)"
          echo "$HOME/.local/share/solana/install/active_release/bin" >> $GITHUB_PATH
          
          # Установка Anchor
          npm install -g @coral-xyz/anchor-cli@0.29.0

      - name: Build
        run: |
          export PATH="$HOME/.local/share/solana/install/active_release/bin:$PATH"
          
          # Генерируем лок один раз
          cargo generate-lockfile
          
          # Принудительно правим формат, чтобы старый компилятор Solana не ругался
          sed -i 's/version = 4/version = 3/g' Cargo.lock
          
          # Финальный билд
          anchor build
