name: Anchor Build

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Solana
        run: |
          sh -c "$(curl -sSfL https://release.solana.com/v1.18.18/install)"
          echo "$HOME/.local/share/solana/install/active_release/bin" >> $GITHUB_PATH

      - name: Install Anchor
        run: npm install -g @coral-xyz/anchor-cli@0.30.1

      - name: Build Program
        run: |
          # 1. Генерируем замок
          cargo generate-lockfile
          
          # 2. ОДНА КОМАНДА, КОТОРАЯ РЕШАЕТ ВСЁ (Фикс Edition 2024)
          cargo update -p constant_time_eq --precise 0.3.0
          
          # 3. Билд
          anchor build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: target/deploy/*.so
